In [1]:
from pandas import Series, DataFrame
import pandas as pd

myCampus = Series([100,200,300,400,500],
                  index=["2025-12-01","2025-12-02","2025-12-03","2025-12-04","2025-12-05"],)
myCampus

2025-12-01    100
2025-12-02    200
2025-12-03    300
2025-12-04    400
2025-12-05    500
dtype: int64

In [3]:
sample1 =[["아이폰16",1500000],["갤럭시s24",1300000],["픽셀9",900000    ]]
column1 =["제품명","가격"]
df = DataFrame(sample1, columns=column1)
df

      제품명       가격
0   아이폰16  1500000
1  갤럭시s24  1300000
2     픽셀9   900000